*
{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: left;
    min-height: 100vh;
    flex-direction: column;
    gap: 10px;
    background-color: grey;

}